.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding-bottom: 52px;
}

.card {
  font-size: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 20px;
}

.card p {
font-size: 16px}

.card i {
  font-size: 50px;
}
